<nav class="navbar navbar-expand-sm navbar-custom-style">
    <a routerLink="home" class="nav-link hover-text">
        <img id="navbarBrand" src="../../../assets/DanFrunzaLogo_Mini.svg" alt="Dan Frunza Logo">
    </a>
    <button class="navbar-toggler collapsed border-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end align-center" id="navbarSupportedContent">
        <ul class="navbar-nav custom-nav-list">
            @for (link of navLinks; track link.path) {
                <li class="nav-item">
                    <a [routerLink]="link.path" class="nav-link hover-text">
                        <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">{{ link.label }}</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</nav>