<nav class="navbar navbar-expand-sm navbar-custom-style" id="navbar-id">
    <a routerLink="home" class="nav-link hover-text">
        <img id="navbarBrand" src="../../../assets/DanFrunzaLogo_Mini.svg" alt="Dan Frunza Logo">
    </a>
    <a class="navbar-toggler collapsed border-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span> </span>
        <span> </span>
        <span> </span>
    </a>

    <div class="collapse navbar-collapse justify-content-end align-center" id="navbarSupportedContent">
        <ul class="navbar-nav custom-nav-list">
            <li class="nav-item">
                <a routerLink="projects" class="nav-link hover-text">
                    <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Projects</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="experience" class="nav-link hover-text">
                    <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Experience</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="contact" class="nav-link hover-text">
                    <span data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Contact</span>
                </a>
            </li>
        </ul>
    </div>
</nav>