<div class="content-container">
  @for (project of projects; track project.name; let first = $first, last = $last) {
    <div [class]="first ? 'timeline-item-projects-top' : 'timeline-item-projects'">
      <div class="left-part">
        <p class="item-title">{{ project.tech }}</p>
      </div>
      <div [class]="first ? 'divider-top' : 'divider'"></div>
      <div class="right-part">
        <p class="item-title">{{ project.name }}:</p>
      </div>
    </div>
    <div [class]="last ? 'timeline-item-projects-bottom' : 'timeline-item-projects'">
      <div class="divider-card"></div>
      <div class="projects-card-container">
        <div class="custom-card-primary w-100 p-2">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <img
                  src="../../../assets/images/projects/16-9.jpg"
                  [alt]="project.name"
                  class="img-primary w-100 my-2"
                />
              </div>
              <div class="col-sm-6">
                <img
                  src="../../../assets/images/projects/16-9.jpg"
                  [alt]="project.name"
                  class="img-primary w-100 my-2"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="text-inside-description">{{ project.description }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <button class="btn btn-lg btn-primary my-2">Demo</button>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-lg btn-primary my-2">Code</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  }

  <div class="container-fluid px-4 pb-4">
    <div class="row">
      <div class="col-sm-6">
        <div
          class="custom-card-primary custom-subtitle-1 text-center px-4 py-2"
        >
          Technical Skills
        </div>
      </div>
      <div class="col-sm-6">
        <div
          class="custom-card-primary custom-subtitle-1 text-center px-4 py-2"
        >
          Soft Skills
        </div>
      </div>
    </div>
  </div>
</div>
