<div class="content-container">
    <div class="timeline-item-experience">
        <div class="divider-card">
        </div>
        <div class="experience-card-title">
            <div class="custom-card-primary px-4 py-2">Experience</div>
        </div>
    </div>
    <div class="timeline-item-experience">
        <div class="left-part">
            <p class="item-title">2023</p>
            <p><a href="https://www.baramundi.com/" target="_blank" aria-label="baramundi"
                    class="item-company hover-link">baramundi
                    software GmbH</a></p>
        </div>
        <div class="divider"></div>
        <div class="right-part">
            <p class="item-title">.NET Developer</p>
            <p class="text-inside-description">At this German company I'm
                developing various modules of a complex Unified Endpoint, Enterprise
                Mobility and Mobile Device Management software using mainly .NET MAUI, WPF
                or Angular.
            </p>
        </div>
    </div>
    <div class="timeline-item-experience">
        <div class="left-part">
            <p class="item-title">2022</p>
            <p><a href="https://alphacomm.io/" target="_blank" aria-label="Alphacomm"
                    class="item-company hover-link">Alphacomm
                    B.V.</a></p>
        </div>
        <div class="divider"></div>
        <div class="right-part">
            <p class="item-title">.NET Developer</p>
            <p class="text-inside-description">Working for this Dutch fintech
                company I developed financial
                software for various merchants using microservice based architecture,
                layering and separating the frontend in
                Angular or Razor, and the backend in .NET APIs.
        </div>
    </div>
    <div class="timeline-item-experience">
        <div class="left-part">
            <p class="item-title">2020</p>
            <p><a href="https://www.bertrandt.com/" target="_blank" aria-label="Bertrandt"
                    class="item-company hover-link">Bertrandt
                    A.G.</a></p>
        </div>
        <div class="divider"></div>
        <div class="right-part">
            <p class="item-title">Software Developer</p>
            <p class="text-inside-description">While working for this
                automotive-focused corporation I started by mainly writing Python scripts
                in order to automate aerodynamic simulations. I also had the opportunity to
                touch a little bit of embedded
                code, which was responsible for the CAN, LIN and Flexray communication
                throughout the cars.</p>
        </div>
    </div>
    <div class="timeline-item-experience">
        <div class="left-part">
            <p class="item-title">2019</p>
            <p><a href="https://www.guhring.com/" target="_blank" aria-label="Guehring"
                    class="item-company hover-link">Guehring
                    K.G.</a></p>
        </div>
        <div class="divider"></div>
        <div class="right-part">
            <p class="item-title">.NET Developer</p>
            <p class="text-inside-description">This was my first experience
                dealing with real situations of coding in the .NET Environment. I was
                responsible for automating the
                technical blueprints of tools, the C# and VB.NET NXOpen API.</p>
        </div>
    </div>
    <div class="timeline-item-experience">
        <div class="left-part">
            <p class="item-title">2019</p>
            <p><a href="https://www.ipa.fraunhofer.de/" target="_blank" aria-label="Fraunhofer"
                    class="item-company hover-link">Fraunhofer IPA</a></p>
        </div>
        <div class="divider"></div>
        <div class="right-part">
            <p class="item-title">.NET Intern</p>
            <p class="text-inside-description">At this Fraunhofer Institute internship, I
                had to simulate the pathfinding capabilities
                of AGVs using various pathfinding algorithms in C# and Unity.
            </p>
        </div>
    </div>
    <div class="timeline-item-experience">
        <div class="left-part">
            <p class="item-title">2018</p>
            <p><a href="https://www.bielomatik.com/" target="_blank" aria-label="Bielomatik"
                    class="item-company hover-link">Bielomatik
                    GmbH</a></p>
        </div>
        <div class="divider"></div>
        <div class="right-part">
            <p class="item-title">Design Intern</p>
            <p class="text-inside-description">This internship at Bielomatik
                had a positive impact on my design abilities, which reflected themselves
                later as better frontend skills.
            </p>
        </div>
    </div>
    <div class="timeline-item-experience">
        <div class="divider-card">
        </div>
        <div class="experience-card-title">
            <div class="custom-card-primary px-4 py-2">Education</div>
        </div>
    </div>
    <div class="timeline-item-experience">
        <div class="left-part">
            <p class="item-title">2022</p>
            <p><a href="https://www.bielomatik.com/" target="_blank" aria-label="Bielomatik"
                    class="item-company hover-link">Lucian Blaga University of Sibiu</a></p>
        </div>
        <div class="divider"></div>
        <div class="right-part">
            <p class="item-title">Master's Degree</p>
            <p class="text-inside-description">This internship at Bielomatik
                had a positive impact on my design abilities, which reflected themselves
                later as better frontend skills.
            </p>
            <ul class="text-inside-description">
                <li>Digital image processing</li>
                <li>Data Mining</li>
                <li>Computer architecture</li>
                <li>Artificial Intelligence</li>
            </ul>
        </div>
    </div>
    <div class="timeline-item-experience">
        <div class="left-part">
            <p class="item-title">2020</p>
            <p><a href="https://www.bielomatik.com/" target="_blank" aria-label="Bielomatik"
                    class="item-company hover-link">Technical University of Cluj-Napoca</a></p>
        </div>
        <div class="divider"></div>
        <div class="right-part">
            <p class="item-title">Bachelor's Degree</p>
            <p class="text-inside-description">This internship at Bielomatik
                had a positive impact on my design abilities, which reflected themselves
                later as better frontend skills.
            </p>
            <ul class="text-inside-description">
                <li>Industry focused databases</li>
                <li>Industrial programming</li>
                <li>CAD APIs and CAD scripting</li>
                <li>Hardware-focused development</li>
            </ul>
        </div>
    </div>

    <div class="container-fluid px-4 pb-4">
        <div class="row">
            <div class="col-sm-6">
                <div class="custom-card-primary custom-subtitle-1 text-center px-4 py-2">Technical Skills</div>
                <div class="skills-info skills-second-style p-2 pt-4">
                    <div class="clearfix">
                        <div class="skill-name">Dot Net, C#</div>
                        <div class="skill-value">85%</div>
                    </div>
                    <div class="skill-container skill-hover-item">
                        <div class="skill-percentage skill-1"></div>
                    </div>
                    <div class="clearfix">
                        <div class="skill-name">Blazor, Razor</div>
                        <div class="skill-value">70%</div>
                    </div>
                    <div class="skill-container skill-hover-item">
                        <div class="skill-percentage skill-2"></div>
                    </div>
                    <div class="clearfix">
                        <div class="skill-name">Databases</div>
                        <div class="skill-value">80%</div>
                    </div>
                    <div class="skill-container skill-hover-item">
                        <div class="skill-percentage skill-3"></div>
                    </div>
                    <div class="clearfix">
                        <div class="skill-name">Microservices & Web APIs</div>
                        <div class="skill-value">90%</div>
                    </div>
                    <div class="skill-container skill-hover-item">
                        <div class="skill-percentage skill-4"></div>
                    </div>
                    <div class="clearfix">
                        <div class="skill-name">Html, CSS, Javascript</div>
                        <div class="skill-value">80%</div>
                    </div>
                    <div class="skill-container skill-hover-item">
                        <div class="skill-percentage skill-5"></div>
                    </div>
                    <div class="clearfix">
                        <div class="skill-name">Angular</div>
                        <div class="skill-value">70%</div>
                    </div>
                    <div class="skill-container skill-hover-item">
                        <div class="skill-percentage skill-6"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="custom-card-primary custom-subtitle-1 text-center px-4 py-2">Soft Skills</div>
                <div class="skills-info skills-second-style p-2 pt-4">
                    <div class="clearfix">
                        <div class="skill-name">Time management</div>
                        <div class="skill-value">80%</div>
                    </div>
                    <div class="skill-container skill-hover-item">
                        <div class="skill-percentage skill-7"></div>
                    </div>
                    <div class="clearfix">
                        <div class="skill-name">Communication</div>
                        <div class="skill-value">95%</div>
                    </div>
                    <div class="skill-container skill-hover-item">
                        <div class="skill-percentage skill-8"></div>
                    </div>
                    <div class="clearfix">
                        <div class="skill-name">Adaptability</div>
                        <div class="skill-value">80%</div>
                    </div>
                    <div class="skill-container skill-hover-item">
                        <div class="skill-percentage skill-9"></div>
                    </div>
                    <div class="clearfix">
                        <div class="skill-name">Problem-solving</div>
                        <div class="skill-value">85%</div>
                    </div>
                    <div class="skill-container skill-hover-item">
                        <div class="skill-percentage skill-10"></div>
                    </div>
                    <div class="clearfix">
                        <div class="skill-name">Team work</div>
                        <div class="skill-value">90%</div>
                    </div>
                    <div class="skill-container skill-hover-item">
                        <div class="skill-percentage skill-11"></div>
                    </div>
                    <div class="clearfix">
                        <div class="skill-name">Creativity</div>
                        <div class="skill-value">85%</div>
                    </div>
                    <div class="skill-container skill-hover-item">
                        <div class="skill-percentage skill-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>