.skill-value {
  font-size: 1rem;
  line-height: 1.1em;
  position: relative;
  float: right;
  margin: 0 0 4px;
  color: var(--main-red-color);
}

.skills-second-style .skill-percentage {
  background-color: var(--main-red-color);
  border: 2px solid var(--main-light-color);
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  height: 0.6rem;
  padding: 0;
  transition: all 0.2s;
}

.skills-second-style .skill-container {
  position: relative;
  background-color: transparent;
  border: 0.2rem solid var(--main-dark-color);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 100%;
  transition: all 0.2s;
}

.experience-card-title {
  perspective: 1000px; /* Slightly more depth for stronger effect */
}

.custom-card-primary {
  transform: rotateY(10deg); /* Stronger 3D tilt */
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}

.custom-card-primary:hover {
  transform: rotateY(15deg); /* Even more tilt on hover */
}

.skill-percentage.skill-1 {
  width: 85%;
}

.skill-percentage.skill-2 {
  width: 70%;
}

.skill-percentage.skill-3 {
  width: 80%;
}

.skill-percentage.skill-4 {
  width: 90%;
}

.skill-percentage.skill-5 {
  width: 80%;
}

.skill-percentage.skill-6 {
  width: 70%;
}

.skill-percentage.skill-7 {
  width: 80%;
}

.skill-percentage.skill-8 {
  width: 95%;
}

.skill-percentage.skill-9 {
  width: 80%;
}

.skill-percentage.skill-10 {
  width: 85%;
}

.skill-percentage.skill-11 {
  width: 90%;
}

.skill-percentage.skill-12 {
  width: 85%;
}

.skill-name {
  font-size: 1rem;
  line-height: 1.1em;
  position: relative;
  float: left;
  margin: 0 0 4px;
}
